
.dark-mode :is(p, a, span){
    color: white;
}
.dark-mode :is(html, body){
        background-color : #011101 ;
      
}



.light-mode :is(p, a){
    color: black;
}

.light-mode :is(html, body){
    background-color : #fff ;
  
}

.light-mode .ufLogo { fill: black; }
.dark-mode .ufLogo { fill: white; }