
.dark-mode :is(p, a, span, button){
    color: var(--blanc);
}
.dark-mode :is(html, body){
        background-color : var(--noir) ;
      
}

.dark-mode #ctn-ui {
    background-color: var(--jaune);
}
.light-mode #ctn-ui {
    background-color: var(--noir);
}
.dark-mode :is(button){
    border-color: var(--noir);
    color: var(--noir);
}
.light-mode :is(button){
    border-color: var(--blanc);
    color: var(--blanc);
}



.light-mode :is(p, a){
    color: var(--noir);
}

.light-mode :is(html, body){
    background-color : var(--blanc) ;
  
}

.light-mode .ufLogo { fill: var(--noir) }
.dark-mode .ufLogo { fill: var(--blanc) }