@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Libre+Baskerville:ital@0;1&display=swap');
body {
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;

}
.ctn-main {
  overflow-x: hidden;
  box-sizing: border-box;
  width: calc(100vw - ( var(--gutter) * 2 ));
  margin: var(--gutter);
}

button:hover {
  cursor: pointer;
}
/* buttonr reset */
button{
  font-family: 'IBM Plex Mono', monospace;
  background:none;
  border-radius: 0;
  border: 1px solid red;

}

p,a,li, table {
  font-family: 'Libre Baskerville', serif;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

/* .projet:hover .titre, a:hover{
  font-style: italic;
} */

.paragraph p:not(:first-child) {
  text-indent: 24px;
}
.paragraph > p {
  margin-top: 0;
  margin-bottom: calc(var(--gutter) * 3);
  max-width: 800px;
}
.paragraph {
  display: flex;

}
hr {
  width: 100%;
  border: none;
  margin: 0;
}
.light-mode hr{
  border-top: 1px dotted var(--noir);
}

.dark-mode hr{
  border-top: 1px dotted var(--jaune);
}