* {
    font-family: 'Cormorant Garamond';
}
.paragraph {
    text-indent: 12px;
    font-size: 24px;
    column-count: 2;
    width: 80vw;
    height: 100vh;
    padding: 200px;
    color: red;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}