p,a,li, table,button {
    font-family: 'Cormorant Garamond';
}
/* .paragraph {
    text-indent: 12px;
    font-size: 24px;
    column-count: 2;
    width: 80vw;
    height: 300px;
    padding: 200px;
    color: black;
} */

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

.projet:hover .titre, a:hover, button:hover{
  font-style: italic;
}

.paragraph p:not(:first-child) {
  text-indent: 24px;

}