:root {
    --noir: black;
    --blanc: lightgray;
    --jaune: #f5d915;

    --o : .5;

    --gutter: 10px;
    --largeur-corps : 900px;

    --S : 12px;
    --M : 24px;
    --L : 42px; 
    --XXL : 72px;
  }